[phases.setup]
nixPkgs = ["python310", "gcc"]

[phases.install]
cmds = [
  "python3.10 -m venv /opt/venv",
  ". /opt/venv/bin/activate",
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "uvicorn main:app --host 0.0.0.0 --port $PORT"
